<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wangxufire.schedule</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>/usr/local/bin/proxychains4 /usr/local/bin/brew update;/usr/local/bin/proxychains4 /usr/local/bin/brew upgrade;/usr/local/bin/proxychains4 /usr/local/bin/brew cu -ay;/usr/local/bin/brew cleanup;/usr/local/bin/brew cask cleanup</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>12</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/hajime/.schedule.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/hajime/.schedule.log</string>
</dict>
</plist>
